@include desktop {
  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    color: #646464;
    letter-spacing: 0em;
    font-weight: 400;

    .theme-switch {
      cursor: pointer;
    }
  }


  #root {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*container of all the page*/
  .container-1 {
    height: 100%;
    flex-direction: column;
    /*header of the container-1 */
    .Header {
      border-radius: var(--page-edges-border-radius) var(--page-edges-border-radius) 0 0;
      background: url("../Images/header-background.jpg") no-repeat center;
      //filter: blur(8px);
      //-webkit-filter: blur(8px);
      background-size: cover;
      position: relative;
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .header-content {
      margin-bottom: 0 !important;
      width: 98.5%;
    }

    .column.profil-image {
      position: relative;
    }

  }

  //right menu
  .right-navbar {
    background-color: var(--side-background-color);
    z-index: 2;
    border-radius: 25px 25px 25px 0;
    height: 60vh;
    width: 97px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -33px;
    margin-right: -78px;

    .columns.menu-right {
      height: 100%;
      flex-direction: column;
      justify-content: space-around;

      .column {
        cursor: pointer;
      }
    }
  }

  .theme-switcher-desktop {
    font-size: 18px !important;
  }

  .downloader {
    padding-top: 5px;
    height: 34px;
    width: 215px;
    background-color: var(--side-background-color);
    position: absolute;
    bottom: 1px;
    right: 18px;
    margin-bottom: -34px !important;
    border-bottom-left-radius: 15px;
  }

  .theme-switcher-desktop {
    width: 209px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
  }

  //end right menu

  .Container {
    margin: 5vh 6vw 8vh 6vw;
    width: 80%;
    height: 100vh;
    max-width: 1268px;
    max-height: 90%;
  }

  .content-container {
    padding-right: 23px;
  }

  .is-absolute-bottom {
    position: absolute;
    bottom: 0;
  }

  .is-absolute-centered-desktop {
    position: absolute;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
  }

  .navbar-menu.portfolio-nav {
    justify-content: space-around !important;
  }
  .profession {
    text-align: right !important;
  }
  @media (prefers-color-scheme: dark) {

    .Header {
      background: url("../Images/header-background-dark.jpg") no-repeat center !important;
    }
  }

  .is-active > p {
    color: var(--second-color) !important;
  }

  @for $i from 1 through 4 {
    #icon#{$i} {
      width: 30px !important;
    }
  }
  .is-mobile-only {
    display: none;
  }

  .content{
  padding-right: 20px;
  }

  .container-1 {
    .my-info-column {
      .my-info {
        width: 80%;
        margin: {
          top: 45px;
          left: auto;
          right: auto;
        }
      }
    }
  }
  .navbar-end a.navbar-item:hover {
    background-color: transparent !important;
  }
  .navbar.desktop-theme-switcher {
    background-color: transparent !important;
  }

  .page {
    padding-right: 65px;
    position: absolute;
  }

  .page-content {
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
  }


  .fade-exit > .page {
    z-index: 0.5;
  }

  .fade-enter > .page {
    z-index: 1;
  }

  .fade-enter.left > .page {
    opacity: 1;
    transform: translateX(100%)
  }
  .fade-exit.left > .page {
    opacity: 0.5;
    transform: translateX(0%)
  }
  .fade-enter.right > .page {
    opacity: 1;
    transform: translateX(100%)
  }
  .fade-exit.right > .page {
    opacity: 0.5;
    transform: translateX(0%)
  }

  .fade-enter.fade-enter-active > .page {
    transform: translateX(0);
    transition: all 1500ms ease-in-out;
  }

  .fade-exit.fade-exit-active > .page {
    transform: translateX(100%);
    transition: all 1500ms ease-in-out;
  }

  .swiper-container {
    width: 75%;
    height: 190px;
  }

  .is-hidden-mobile {
    display: block !important;
  }

  .circular--landscape {
    display: inline-block;
    position: relative;
    margin-left: 22px;
    width: 200px!important;
    height: 200px!important;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
  }

}
