@import '~bulma';
@import '~font-awesome';

:root {
  --swiper-theme-color:#1877F2;
  --body-background-color: linear-gradient(#ABCDEF, #ffff, #fff, #ABCDEF);
  --black-text: black;
  --submit-text: #fff;
  --second-color: #1877F2;
  --header-background: url("../Images/header-background.jpg");
  --container1-body-background: #DDDDDD;
  --side-background-color: #fff;
  --page-edges-border-radius: 25px;
  --profil-image: url("../Images/photo-profil.jpg");
}

body {

  * {
    &::selection {
      background-color: #ABCDEF;
    }
  }

  background-image: var(--body-background-color);

  a, p, span, h4 {
    color: var(--black-text);
  }

  a:hover {
    color: #1877F2 !important;
  }
}




//end container-1

.columns {
  margin: 0;
}

.page-content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--container1-body-background);
  flex-grow: 1.5;

  .columns.is-mobile.hobby {
    color: #1877F2;
  }

  .feedback {
    width: 70%;
  }

  .tabs {
    ul {
      justify-content: center !important;
    }

    a {
      color: var(--black-text);

      &:hover {
        color: var(--submit-text);
      }
    }
  }
}

// submit button
.button.send {
  color: var(--submit-text);
  background-color: var(--second-color);

  &:hover {
    color: var(--submit-text);
    background-color: var(--second-color);
    opacity: 0.80;
  }
}

.title.blue {
  height: 20px;
  max-height: 50px;
  //transform: translate(-30%,-30%);
  color: var(--second-color) !important;
}



.tabs.is-toggle li.is-active a {
  background-color: var(--second-color) !important;
  color: var(--submit-text);
}

.button {
  border-color: transparent !important;
}

@for $i from 1 through 5 {
  #hobby-#{$i} {
    width: 50px !important;
  }
}

div[id^="portfolio-group-"] {
  display: none !important;
}

div[id^="portfolio-group-"].is-active {
  display: flex !important;
}

.skills {
  overflow-y: hidden;
  overflow-x: auto;
}

select {
  background-color: transparent !important;
  border: none !important;
  color: var(--black-text) !important;
  font-size: 16px !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  content: none !important;
}

.select.column {
  padding: 0 !important;
}

.column.globe-icon {
  margin-left: -40px !important;
  padding-top: 7px !important;
}

i {
  color: var(--second-color) !important;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    padding: 0 !important;
  }
}

.active {
  p {
    color: var(--second-color);
  }
}

.active-mobile {
  background-color: white;

  span {
    color: #3273dc !important;;
  }
}


@import "helpers";
@import "desktop";
//@import "tablet";
@import "mobile";
@import "slide";
@import "light-mode";
@import "dark-mode";
@import "portfolio_item";


.spin-load{
  position: relative;
  width: 100%;
  height: 30px;
}

.loader {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  border: 4px solid #Fff;

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}